$event-height: 24px;

.simple-calendar {
  position: relative;
  background: #ffffff;

  .week-title {
    display: table;
    table-layout: fixed;
    width: 100%;

    .weekdays {
      display: table-row;

      .weekday {
        display: table-cell;
        padding: 12px;
        width: 14.286%;
        height: 12px;
        line-height: 1;
        font-size: 12px;
        color: #777;
        border-bottom: 2px solid #cccccc;
      }
    }
  }

  .weeks {
    .week {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-bottom: 1px solid #e3e3e3;
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      .days {
        display: table-row;

        .day {
          display: table-cell;
          width: 14.286%;
          height: 110px;
          vertical-align: top;
          padding: 0 0 20px 0;

          &.dragover {
            background-color: #efefef;
          }

          &:last-of-type {
            border-right: none;
          }

          .info {
            height: 24px;
            padding: 12px 8px;
            color: #000;
            font: normal bold 24px/1 Calibri;
          }

          &.sun, &.sat {
            .info {
              color: #ffa02b;
            }
          }

          &.other-month {
            .info {
              color: #CCC;
            }
          }

          &.today {
            background: #f6f6f6;

            .day-events .event:hover {
              background: #EFEFEF;
            }

            .day-todos .todo:hover {
              background: #EFEFEF;
            }
          }

          .event-spacers {
            .event-spacer {
              height: $event-height;
              width: 100%;
            }
          }

          .day-events {
            .event {
              padding: 2px 0;
              position: relative;
              cursor: pointer;

              .content {
                font-size: 12px;
                line-height: 18px;
                padding: 0 4px 0 6px;
                margin: 0;
                word-wrap: break-word;
              }

              &.loading .event-content {
                opacity: 0.6;
              }

              &:hover {
                background: #f6f6f6;
              }
            }
          }

          .day-todos {
            padding: 0 0 10px 0;

            .todo {
              padding: 2px 2px 2px 4px;
              margin: 0 0 2px 0;
              position: relative;
              cursor: pointer;

              .todo-wrapper {
                position: relative;
                padding: 0 0 0 18px;
                line-height: 16px;
              }

              .cb-done {
                position: absolute;
                top: 2px;
                left: 2px;
                margin: 0;
                font-size: 12px;
              }

              .content {
                font-size: 12px;
                word-wrap: break-word;
                vertical-align: top;
              }

              &.completed .content {
                text-decoration: line-through;
              }

              &:hover {
                background: #EFEFEF;
              }

              &.loading {
                opacity: 0.6;
              }
            }
          }
        }
      }

      .events {
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;

        .event {
          margin: 0 0 0 0;
          cursor: pointer;
          position: absolute;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          .event-wrapper {
            height: $event-height - 2px;
            margin: 0 2px;
            background-color: #cccccc;
            border-radius: $event-height / 2;

            .content {
              color: #fff;
              font-size: 12px;
              line-height: $event-height - 2px;
              margin: 0;
              padding: 0 4px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }


          &.start .event-content {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &.end .event-content {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &.placeholder .event-content,
          &.loading .event-content {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

