@charset "utf-8";
$event-height: 22px;

.simple-calendar {
  position: relative;
  background: #ffffff;

  .week-title {
    display: table;
    table-layout: fixed;
    width: 100%;

    .weekdays {
      display: table-row;

      .weekday {
        display: table-cell;
        width: 14.286%;
        height: 12px;
        border-bottom: 2px solid #cccccc;
        line-height: 12px;
        font-size: 12px;
        padding: 0 0 5px 0;
        color: #aaaaaa;
        text-align: center;

        &.weekend {
          color: #b81818;
        }
      }
    }
  }

  .weeks {
    .week {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-bottom: 1px solid #dddddd;
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      .days {
        display: table-row;

        .day {
          display: table-cell;
          width: 14.286%;
          height: 110px;
          border-right: 1px solid #dddddd;
          vertical-align: top;
          padding: 0 0 20px 0;

          &.dragover {
            background-color: #efefef;
          }

          &:last-of-type {
            border-right: none;
          }

          .info {
            height: 12px;
            padding: 6px 8px;
            font-size: 12px;
            line-height: 12px;
            color: #888888;
            font-family: arial;

            .num {
              float: right;
            }

            .desc {
              float: left;
            }
          }

          &.sun, &.sat {
            .info {
              color: #c43515;
            }
          }

          &.other-month {
            .info {
              color: #bbbbbb;
            }
          }

          &.today {
            background: #f9f9f9;

            .info {
              color: #666666;
            }

            .day-events .event:hover {
              background: #efefef;
            }

            .day-todos .todo:hover {
              background: #efefef;
            }
          }

          .event-spacers {
            .event-spacer {
              height: $event-height;
              width: 100%;
            }
          }

          .day-events {
            padding: 0 0 2px 0;

            .event {
              padding: 2px 0;
              position: relative;
              cursor: pointer;

              .content {
                font-size: 12px;
                line-height: 16px;
                padding: 0 5px 0 12px;
                margin: 0;
                word-wrap: break-word;

                &:before {
                  content: "•";
                  font-size: 12px;
                  position: absolute;
                  top: 3px;
                  left: 5px;
                }
              }

              &.loading .event-content {
                opacity: 0.6;
              }

              &:hover {
                background: #f3f3f3;
              }
            }
          }

          .day-todos {
            padding: 0 0 10px 0;

            .todo {
              padding: 2px 2px 2px 4px;
              margin: 0 0 2px 0;
              position: relative;
              cursor: pointer;

              &:first-child {
                border-top: 1px dotted #dddddd;
                padding-top: 4px;
              }

              .todo-wrapper {
                line-height: 14px;
                position: relative;
                padding: 0 0 0 16px;
              }

              .cb-done {
                font-size: 12px;
                position: absolute;
                top: 2px;
                left: 0;
              }

              .content {
                font-size: 12px;
                word-wrap: break-word;
              }

              &.completed .content {
                text-decoration: line-through;
              }

              &:hover {
                background: #f6f6f6;
              }

              &.loading {
                opacity: 0.6;
              }
            }
          }
        }
      }

      .events {
        width: 100%;
        position: absolute;
        top: 24px;
        left: 0;

        .event {
          margin: 0 0 0 0;
          cursor: pointer;
          position: absolute;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          .event-wrapper {
            height: $event-height - 2px;
            margin: 0 2px;
            background: #aaaaaa;

            .content {
              color: #fff;
              font-size: 12px;
              line-height: $event-height - 2px;
              padding: 0 5px;
              margin: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }


          &.start .event-content {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &.end .event-content {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &.placeholder .event-content,
          &.loading .event-content {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

