.simple-calendar {
  position: relative;
  background: #ffffff;
}
.simple-calendar .week-title {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.simple-calendar .week-title .weekdays {
  display: table-row;
}
.simple-calendar .week-title .weekday {
  display: table-cell;
  padding: 12px;
  width: 14.286%;
  height: 12px;
  line-height: 1;
  font-size: 12px;
  color: #777;
  border-bottom: 2px solid #cccccc;
}
.simple-calendar .weeks .week {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.simple-calendar .weeks .week:last-child {
  border-bottom: none;
}
.simple-calendar .weeks .week .days {
  display: table-row;
}
.simple-calendar .weeks .week .days .day {
  display: table-cell;
  width: 14.286%;
  height: 110px;
  vertical-align: top;
  padding: 0 0 20px 0;
}
.simple-calendar .weeks .week .days .day.dragover {
  background-color: #efefef;
}
.simple-calendar .weeks .week .days .day:last-of-type {
  border-right: none;
}
.simple-calendar .weeks .week .days .day .info {
  height: 24px;
  padding: 12px 8px;
  color: #000;
  font: normal bold 24px/1 Calibri;
}
.simple-calendar .weeks .week .days .day.sun .info, .simple-calendar .weeks .week .days .day.sat .info {
  color: #ffa02b;
}
.simple-calendar .weeks .week .days .day.other-month .info {
  color: #ccc;
}
.simple-calendar .weeks .week .days .day.today {
  background: #f6f6f6;
}
.simple-calendar .weeks .week .days .day.today .day-events .event:hover {
  background: #efefef;
}
.simple-calendar .weeks .week .days .day.today .day-todos .todo:hover {
  background: #efefef;
}
.simple-calendar .weeks .week .days .day .event-spacer,
.simple-calendar .weeks .week .days .day .todo-spacer {
  height: 24px;
  width: 100%;
}
.simple-calendar .weeks .week .days .day .day-events .event {
  padding: 2px 0;
  position: relative;
  cursor: pointer;
}
.simple-calendar .weeks .week .days .day .day-events .event.loading .event-content {
  opacity: 0.6;
}
.simple-calendar .weeks .week .days .day .day-events .event:hover {
  background: #f6f6f6;
}
.simple-calendar .weeks .week .days .day .day-events .content {
  font-size: 12px;
  line-height: 18px;
  padding: 0 4px 0 6px;
  margin: 0;
  word-wrap: break-word;
}
.simple-calendar .weeks .week .days .day .day-todos {
  padding: 0 0 10px 0;
}
.simple-calendar .weeks .week .days .day .day-todos .todo {
  padding: 2px 2px 2px 4px;
  margin: 0 0 2px 0;
  position: relative;
  cursor: pointer;
}
.simple-calendar .weeks .week .days .day .day-todos .todo.completed .content {
  text-decoration: line-through;
}
.simple-calendar .weeks .week .days .day .day-todos .todo:hover {
  background: #efefef;
}
.simple-calendar .weeks .week .days .day .day-todos .todo.loading {
  opacity: 0.6;
}
.simple-calendar .weeks .week .days .day .day-todos .todo-wrapper {
  position: relative;
  padding: 0 0 0 18px;
  line-height: 16px;
}
.simple-calendar .weeks .week .days .day .day-todos .cb-done {
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 0;
  font-size: 12px;
}
.simple-calendar .weeks .week .days .day .day-todos .content {
  margin: 0;
  font-size: 12px;
  word-wrap: break-word;
  vertical-align: top;
}
.simple-calendar .weeks .week .events {
  width: 100%;
  position: absolute;
  top: 48px;
  left: 0;
}
.simple-calendar .weeks .week .events .event {
  margin: 0 0 0 0;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.simple-calendar .weeks .week .events .event .event-wrapper {
  height: 22px;
  margin: 0 2px;
  background-color: #cccccc;
  border-radius: 12px;
}
.simple-calendar .weeks .week .events .event .content {
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.simple-calendar .weeks .week .events .event.start .event-content {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.simple-calendar .weeks .week .events .event.end .event-content {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.simple-calendar .weeks .week .events .event.placeholder .event-content, .simple-calendar .weeks .week .events .event.loading .event-content {
  opacity: 0.6;
}
.simple-calendar .weeks .week .events .todo {
  margin: 0 0 0 0;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.simple-calendar .weeks .week .events .todo .todo-wrapper {
  height: 22px;
  margin: 0 2px;
  padding-left: 20px;
  background-color: #cccccc;
  border-radius: 12px;
}
.simple-calendar .weeks .week .events .todo .content {
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.simple-calendar .weeks .week .events .todo .cb-done {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  margin: auto;
  font-size: 12px;
}
.simple-calendar .weeks .week .events .todo.start .todo-content {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.simple-calendar .weeks .week .events .todo.end .todo-content {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.simple-calendar .weeks .week .events .todo.placeholder .todo-content, .simple-calendar .weeks .week .events .todo.loading .todo-content {
  opacity: 0.6;
}
